.container{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #1C3530;
}
.auth-container{
    width: 76%;
    margin-right: 2%;
    height:90%;
    background: white;
    float: right;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    color: #1C3530;
    font-size: 1.7rem;
    font-weight: bold;
    float: left;
    margin-left: 2rem;
}
.form-container{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
}
form{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: blue;
}