.App {
  text-align: center;
  background-color: #f4f6f6;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.right-side{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1%;
}
.top-div{
  width: 90%;
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1C3530;
  margin-top: 1%;
}
.search-container{
  width: 50%;
  height: 90%;
  background-color: aqua;
  margin-left: 0.5rem;
}
.icongroup{
  width: 15%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
}
.mid-div{
  width: 90%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #276868;
}
.Mapbox{
  width: 90%;
  height: 70%;
  background-color: rgb(47, 95, 138);
  border-radius: 3rem;
}
.location-btn{
  background-color: transparent;
  border: none;
  position: absolute;
  top: 72%;
  left: 91.8%;
}
.infobox{
  width: 100%;
  height: 100%;
  background-color: aqua;
  position: absolute;
}