.App {
  text-align: center;
  background-color: #f4f6f6;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.right-side{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1%;
}
.top-div{
  width: 90%;
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1%;
}
.search-container{
  width: 50%;
  height: 80%;
  background-color: white;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-container img{
 width: 3%;
  height: 38%;
  margin-left: 1.5rem;
}
.search-container input {
  width: 80%;
  height: 90%;
  border: none;
  outline: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  color: rgb(180, 170, 170);
}
.icongroup{
  width: 10%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.mid-div{
  width: 90%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mid-div-link{
width: 10%;
display: flex;
justify-content: start;
}
.mid-div-link img{
  width: 3.6rem;
  height: 1rem;
}
.mid-div-bottom{
  width: 96.6%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.texts{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.texts h1{
  font-size: 1.5rem;
  font-family: 'Cantora One', sans-serif;
  color: black;
  text-align: start;
}
.texts h2{
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
  color: rgb(199, 199, 199);
  text-align: start;
}
.request-btn{
  width: 20%;
  height: 50%;
  background: #179A72;
  border: none;
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
  color: white;
  border-radius: 0.2rem;
}
.Mapbox{
  width: 90%;
  height: 70%;
  background-color: rgb(47, 95, 138);
  border-radius: 3rem;
}
.location-btn{
  background-color: transparent;
  border: none;
  position: absolute;
  top: 72%;
  left: 91.8%;
  cursor: pointer;
}
.infobox{
  width: 100%;
  height: 100%;
  background-color: aqua;
  position: absolute;
}
.history-box{
  background: #179A72;
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-div{
  width: 90%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.welcome-div .top{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.welcome-div .top h1{
  font-family: 'Inter';
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}
.welcome-div .top button{
  width: 17%;
  height: 80%;
  background-color: #179A72;
  color: white;
  border: none;
  border-radius: 0.2rem;
  font-family: 'Inter';
}
.bottom h2{
  font-family: 'Inter';
  font-size: 0.8rem;
  font-weight: bolder;
  text-align: left;
  color: black;
  margin-left: 0.5rem;
}
.bottom span{
  font-family: 'Inter';
  font-size: 1.4rem;
  font-weight: bolder;
  text-align: left;
  color: black;
}
.welcome-div .bottom{
  width: 100%;
  height: 60%;
  background: url("../../frontend/src/resources/bgimg.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 100%;
  background-color: #E1EAE9;
  border-radius: 0.3rem;
}
.history-box ul{
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: pink;
  overflow: scroll;
  scroll-behavior: smooth;
}
.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  background:transparent;
  width: 80%;
  height: 100%;
}
.modal form{
  width: 40%;
  height: 40%;
 background-color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: 1rem;
}
.AdminMapbox{
  width: 100%;
  height: 100%;
}
.backBtn2{
  width: 4%;
  height: 65%;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapnav{
   background:transparent;
   width: 70%;
   height: 8%;
   position: absolute;
   top:1.5%;
   align-self: center;
   left:18%;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}
.location-search{
  border: none;
  width: 80%;
  height: 65%;
  border-radius: 0.3rem;
  outline: none;
}
.location-search::placeholder {
  color: #A9A9A9; /* Change the color of the placeholder text */
  text-align: center; /* Center the placeholder text */
  font-family: "Inter";
}
.profile-left{
  background-color: white;
  width: 12%;
  border-radius: 0.5rem;
  height: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.comNamediv{
  width: 90%;
  height:8%;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.comtxt{
  color: black;
  font-family: 'Inter';
  font-size: 1.5rem;
  margin-left: 2%;
  background-color: white;
  padding: 0.7rem;
  width: 20%;
}
.profileContainer{
  height: 90%;
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bigdiv{
  width: 90%;
  height: 86%;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.leftbigdiv{
  background-color: dodgerblue;
  width: 60%;
  height: 95%;
}
.bigdiv form{
  background-color: white;
  width: 35%;
  height: 95%;
  display:flex;
  flex-direction: column;
  border-radius: 0.3rem;
}
.labelS{
  text-align: center;
  color: #179A72;
  font-size: 0.9rem;
  font-family: 'Inter';
  font-weight: 700;
  margin-bottom: 7%;
}
.labelH{
  color: #179A72;
  font-size: 0.7rem;
  font-family: 'Inter';
  margin-left:7%;
  font-weight: 700;
}
.driverInput{
  width: 80%;
  height: 4.5%;
  background-color: #ECECEC;
  outline: none;
  border: none;
  align-self: center;
}
.driverBtn{
  background-color: #179A72;
  width: 82%;
  height: 7%;
  border-radius: 0.3rem;
  align-self: center;
}
.dashtop{
  width: 10%;
  height: 6%;
  margin-top: 1%;
  display: flex;

  align-self: flex-end;
  margin-right: 2%;
  justify-content: space-evenly;
 align-items: center;
}
.barchartdiv{
  width: 90%;
  height: 42%;
  display: flex;
  background-color: white;
  border-radius: 0.5rem;
}
.dashbottom{
  width: 90%;
  height: 45%;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.bottomdash-left{
  width: 65%;
  height: 95%;
  background-color: aqua;
}
.doughnut-div{
  width: 33%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.5rem;
}
.doughnut-txt{
  width: 90%;
  height: 17%;
}
.doughnut{
  width: 100%;
  height: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
}