.App {
  text-align: center;
  background-color: #f4f6f6;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.right-side{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1%;
}
.top-div{
  width: 90%;
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1%;
}
.search-container{
  width: 50%;
  height: 80%;
  background-color: white;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-container img{
 width: 3%;
  height: 38%;
  margin-left: 1.5rem;
}
.search-container input {
  width: 80%;
  height: 90%;
  border: none;
  outline: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  color: rgb(214, 207, 207);
}
.icongroup{
  width: 10%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.mid-div{
  width: 90%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mid-div-link{
  margin-left: -95%;
}
.mid-div-link img{
  width: 3.6rem;
  height: 1rem;
  margin-left: 1.5rem;
}
.mid-div-bottom{
  width: 90%;
  height: 70%;
  display: flex;
  background-color: dodgerblue;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

}
.Mapbox{
  width: 90%;
  height: 70%;
  background-color: rgb(47, 95, 138);
  border-radius: 3rem;
}
.location-btn{
  background-color: transparent;
  border: none;
  position: absolute;
  top: 72%;
  left: 91.8%;
  cursor: pointer;
}
.infobox{
  width: 100%;
  height: 100%;
  background-color: aqua;
  position: absolute;
}